.person-info-page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #EDEDED;
}

.person-bio {
  position: relative;
  height: 55%;
}

.person-bio > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.drop-modal-button {
  right: 0.5em;
}

.person-bio > button {
  position: absolute;
  top: 0.7em;
}

.person-bio i {
  font-size: 2em;
  color: #fff;
}

.person-bio > span {
  position: relative;
  bottom: 1.3em;
  left: 0.5em;
  color: #fff;
  font-size: 1.8em;
}

.fade-in-info {
  display: none;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  position: fixed;
  top: 0;
  padding: 1em 0;
  background-color: #186d60fa;
  z-index: 1;
  color: #fff;
  width: 100%;
}

.fade-in-info i {
  color: #fff;
}

.fade-in-info > span {
  margin-top: 0.3em;
}

.page-options-info {
  background-color: #EDEDED;
  padding-bottom: 1em;
}

.page-options-info > div {
  background-color: #fff;
  padding: 0 1em;
  margin: 1em 0;
}

.page-options-info p {
  margin: 0;
  border-bottom: 1px solid #E1E1E1;
  padding: 1em 0;
}

.switch {
  position: relative;
  -webkit-tap-highlight-color: transparent;
}

.switch > input  {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  top: -0.18em;
  content: "";
  height: 1.3em;
  width: 1.3em;
  background-color: #EDEDED;
  transition: 0.4s;
}

input:checked + .slider:before {
  background-color: #909090;
  transform: translateX(0.8em);
}

.slider.round {
  border-radius: 0.8em;
  width: 2.1em;
  height: 0.95em;
  background-color: #b6b3b3;
}

.slider.round:before {
  border-radius: 50%;
}

.page-info {
  display: grid;
  grid-template-columns: 1fr 0.1fr;
  border-bottom: 1px solid #E1E1E1;
  padding: 1em 0;
}

.page-info small {
  display: block;
}

.person-contact {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  padding: 1em 0;
}

.page-options-info i {
  color: #186d60fa;
  font-size: 1.7em;
  vertical-align: middle;
}

.person-about > span:first-child {
  display: block;
  padding: 0em 0 1em 0;
  color: #186d60fa;
}

.person-about {
  border-bottom: 1px solid #E1E1E1;
  padding: 1em 0;
}

.person-about > small {
  display: block;
}

.user-person-option > div {
  padding: 1em 0;
  color: #ff0000;
  font-weight: 550;
}

.user-person-option i {
  color: #ff0000;
  vertical-align: sub;
  font-size: 1.5em;
}
