.chat-page {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #efe7dd;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 100%;
}

.chat-top-nav {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  height: 5em;
  color: #fff;
  background-color: #075E54;
}

.chat-top-nav > button {
  flex: 1;
  color: #fff;
  font-size: 1.3em;
}

.chat-top-nav > img {
  margin-top: 1em;
  height: 3em;
  width: 3em;
}

.chat-top-nav > div {
  margin-top: 1.2em;
}

.chat-top-nav > div > p {
  margin: 0.2em 0;
}

#chatInputContent {
  position: fixed;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  width: 100%;
  padding: 1em 0.5em;
}

#chatInputContent > form {
  display: grid;
  grid-template-columns: 1fr 0.2fr 0.2fr;
}

.chat-input {
  font-size: 1.1em;
  width: 100%;
  padding: 1em 2.5em 0 2.5em;
  border-radius: 2em;
  outline: none;
  overflow-x: hidden;
  resize: none;
  max-height: 8em;
  line-height: 1.2em;
}

.clip-icon {
  position: relative;
  right: 1.1em;
  width: 2em;
  height: 100%;
  font-size: 1.4em;
  color: #3a3a3a;
}

.smiley-icon {
  position: relative;
  right: 18.7em;
  width: 2.8em;
  height: 100%;
  color: #3a3a3a;
}

.send-button {
  display: none;
  background-color: #186d60fa;
  width: 3em;
  height: 3em;
  border-radius: 1.5em;
  margin-top: 0.3em;
  flex-grow: 1;
}

.send-button > i {
  padding: 0.1em 0 0 0.2em;
  color: #fff;
}

.record-button {
  background-color: #186d60fa;
  width: 3em;
  height: 3em;
  border-radius: 1.5em;
  color: #fff;
  margin-top: 0.3em;
  flex-grow: 1;
}

.record-button > i {
  font-size: 1.5em;
}

.person-button-container {
  display: none;
  background-color: #fff;
  width: 7em;
  position: absolute;
  bottom: 5em;
  right: 2em;
  padding: 0.5em;
  border-radius: 0.5em;
}

.person-button-container > button {
  width: 100%;
  padding: 0.5em 0;
  font-weight: 600;
  background-color: #186d60fa;
  color: white;
  text-align: center;
}

.person-one-button {
  margin-bottom: 0.5em;
}

.chat-container { 
  position: relative;
  top: 5em;
  height: auto;
  max-height: 23em;
  overflow-y: auto;
  padding: 0.5em 0 1em 0;
}

#chatPageDropdown {
  display: none;
}

#overlay {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000066;
}

.chat-item {
  padding: 0.2em 0;
  width: 95%;
  margin: 0 0.5em 0.5em 0.6em;
}

.person-one {
  display: flex;
  flex-direction: row-reverse;
}

.chat-text {
  background-color: #E1FFC7;
  border-radius: 0.3em;
  padding: 0.5em 1em;
  max-width: 18em;
  word-wrap: break-word;
  height: auto;
}

#person-two {
  background-color: #fff;
}

.chat-time {
  color: #9aad88;
  font-size: 0.7em;
}

.arrow-right {
  position: relative;
  right: 0.3em;
  top: 0.2em;
  float: right;
  width: 0;
  height: 0;
  border-bottom: 1.5em solid transparent;
  border-left: 0.8em solid #E5FFCC;
}

.arrow-left {
  position: relative;
  left: 0.3em;
  top: 0.2em;
  float: left;
  width: 0;
  height: 0;
  border-bottom: 1.5em solid transparent; 
  border-right: 0.8em solid #fff;
}

.chat-item-overlay {
  display: none;
  position: absolute;
  width: 100%;
  padding: 2em 0 0.8em 0;
  background-color: #2690b1a2;
}

.single-chat-nav {
  display: none;
}

#singleChatNav {
  display: flex;
  position: fixed;
  width: 100%;
  height: 5em;
  z-index: 1;
  background-color: #19a796;
}

#singleChatNav > button {
  color: #fff;
  font-size: 1.5em;
  outline: none;
  flex: 1;
}

.nav-back-button > i {
  vertical-align: bottom;
  font-size: 1.2em;
}

.delete-modal {
  display: none;
  position: fixed;
  top: 40%;
  left: 10%;
  background-color: #fff;
  width: 70%;
  z-index: 1;
  padding: 0.5em 1.5em 1.5em 1.5em;
}

.delete-modal > button {
  color: #186d60fa;
  font-weight: 550;
  padding: 0.5em 1em;
  outline: none;
}

.wallpaper-container {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 2em 1.5em;
  background-color: #fff;
  text-align: center;
  z-index: 1;
}

.wallpaper-container > p {
  margin-top: 0;
  font-weight: 600;
  text-align: left;
  font-size: 1.1em;
}

#defaultBackgroundButton {
  color: #fff;
  background-color: #186d60bc;
  padding: 0.5em 1em 0.5em 0.5em;
  font-size: 1em;
  margin: 0.5em;
  border-radius: 0.5em;
}

#defaultBackgroundButton > i {
  font-size: 1.2em;
  vertical-align: bottom;
}

#addBackgroundButton {
  color: #fff;
  background-color:#a76046ef;
  padding: 0.6em;
  font-size: 1em;
  margin: 0.5em;
  border-radius: 0.5em;
}

#addBackground {
  display: none;
}

@media only screen and (max-width: 375px) {
  .add-button {
    right: 0.7em;
  }

  .face-button {
    right: 16.7em;
  }

  .send-button {
    right: 3em;
  }
}

@media only screen and (max-width: 340px)   {
  .add-button {
    right: 0.4em;
  }

  .face-button {
    right: 13.8em;
  }

  .send-button {
    right: 2em;
  }

  .text {
    max-width: 15em;
  }

  .message-value {
    max-width: 15em;
  }
}
