.chat-page {
  position: absolute;
  left: 0;
  background-color: #A9DBD8;
  width: 100%;
  height: 100%;
}

.chat-top-nav {
  position: fixed;
  top: 0;
  display: grid;
  grid-template-columns: 0.2fr 0.4fr 1.2fr 1fr;
  width: 100%;
  height: 5em;
  color: #fff;
  z-index: 1;
  background-color: #075E54;
}

.chat-top-nav > img {
  margin-top: 1em;
  height: 3em;
  width: 3em;
}

.chat-top-nav > button {
  color: #fff;
}

.chat-options > .more-button {
  vertical-align: sub;
}

.chat-options > button {
  font-size: 1.3em;
  color: #fff;
  margin: 1em 0.2em;
}

#chatInputContent {
  position: absolute;
  bottom: 0.5em;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  margin: 0 1em;
  column-gap: 0.5em;
}

.chat-input {
  font-size: 1.1em;
  width: 18em;
  padding: 1em 2.5em 0 2.5em;
  border-radius: 2em;
  outline: none;
  overflow-x: hidden;
  overflow-y: scroll;
  resize: none;
  max-height: 8em;
  line-height: 1.2em;
}

.add-button {
  position: absolute;
  right: 3em;
  bottom: 0.7em;
  font-size: 1.4em;
}

.face-button {
  position: absolute;
  bottom: 1em;
}

.send-button {
  position: absolute;
  right: 1em;
  bottom: 0.7em;
  background-color: #186d60fa;
  width: 3em;
  height: 3em;
  border-radius: 1.5em;
}

.send-button > i {
  padding-left: 0.2em;
  color: #fff;
}

.chat-container {
  position: relative;
  top: 7em;
}

.content {
  background-color: #E1FFC7;
  width: fit-content;
  padding: 0.5em 0 1.8em 0.5em;
  border-radius: 0.5em;
}

.arrow-right {
  position: relative;
  left: 0.5em;
  bottom: 0.4em;
  float: right;
  width: 0;
  height: 0;
  border-top: 0.7em solid transparent;
  border-bottom: 0.7em solid transparent;
  border-left: 0.7em solid #E5FFCC;
}

.person-two {
  margin: 0 1em 0.5em auto;
}

.chat-buttons {
  float: right;
  margin-right: 0.5em;
  font-size: 1em;
  color: #9aad88;
}

.copy-button > i {
  font-size: 1em;
  vertical-align: middle;
}

.copy-button {
  border: 1px solid #9aad88;
}

.delete-button {
  margin-left: 0.5em;
  border: 1px solid #9aad88;
}

.message-value {
  max-width: 20em;
  height: auto;
  margin: 0;
  word-wrap: break-word;
}

.delete-modal{
  display: none;
}

.restore-chat {
  display: none;
}
