.chat-page {
  position: absolute;
  left: 0;
  background-color: #efe7dd;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://cloud.githubusercontent.com/assets/398893/15136779/4e765036-1639-11e6-9201-67e728e86f39.jpg");
  width: 100%;
  height: 100%;
}

.chat-top-nav {
  position: fixed;
  top: 0;
  display: grid;
  grid-template-columns: 0.2fr 0.4fr 1.2fr 1fr;
  width: 100%;
  height: 5em;
  color: #fff;
  background-color: #075E54;
}

.chat-top-nav > img {
  margin-top: 1em;
  height: 3em;
  width: 3em;
}

#arrowLeftButton {
  color: #fff;
}

.dropdown-button {
  vertical-align: sub;
}

.chat-options > button {
  font-size: 1.3em;
  color: #fff;
  margin: 1em 0;
}

#chatInputContent {
  position: fixed;
  bottom: 0;
  display: grid;
  width: 100%;
  padding: 1em 0.5em;
  grid-template-columns: 1fr 0.2fr;
}

#chatInputContent > div {
  display: grid;
  grid-template-columns: 1fr 0.2fr 0.2fr;
}

.chat-input {
  font-size: 1.1em;
  width: 100%;
  padding: 1em 2.5em 0 2.5em;
  border-radius: 2em;
  outline: none;
  overflow-x: hidden;
  resize: none;
  max-height: 8em;
  line-height: 1.2em;
}

.add-button {
  position: relative;
  right: 1.1em;
  width: 2em;
  height: 100%;
  font-size: 1.4em;
  color: #3a3a3a;
}

.face-button {
  position: relative;
  right: 19em;
  width: 2.8em;
  height: 100%;
  color: #3a3a3a;
}

.send-button {
  display: none;
  background-color: #186d60fa;
  width: 3em;
  height: 3em;
  border-radius: 1.5em;
  margin-top: 0.3em;
}

.send-button > i {
  padding: 0.1em 0 0 0.2em;
  color: #fff;
}

.record-button {
  background-color: #186d60fa;
  width: 3em;
  height: 3em;
  border-radius: 1.5em;
  color: #fff;
  margin-top: 0.3em;
}

.record-button > i {
  font-size: 1.5em;
}

.chat-container {
  position: relative;
  top: 5em;
  margin: auto;
  height: auto;
  max-height: 25em;
  overflow-y: auto;
  width: auto;
  padding: 0.5em 0 1em 0;
  pointer-events: auto;
}

.arrow-right {
  position: relative;
  right: 0.3em;
  float: right;
  width: 0;
  height: 0;
  border-top: 0.6em solid transparent;
  border-bottom: 0.7em solid transparent;
  border-left: 0.7em solid #E5FFCC;
}

.chat-options-modal {
  position: fixed;
  left: 0;
  top: 0;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 5em;
  z-index: 1;
  background-color: #19a796;
}

.chat-options-modal > button {
  color: #fff;
  font-size: 1.5em;
  border: none;
}

.back-button {
  padding-top: 0.4em;
}

.content {
  text-align: right;
  padding: 0.2em 0.5em;
  user-select: none;
}

.text {
  background-color: #E1FFC7;
  border-radius: 0.5em;
  display: inline-block;
  padding: 0.5em 1em;
  max-width: 18em;
  word-wrap: break-word;
  height: auto;
  margin-bottom: 0.2em;
}

.message-value {
  display: inline-block;
  vertical-align: top;
  text-align: justify;
  max-width: 18em;
}

.chat-time {
  color: #9aad88;
  font-size: 0.7em;
}

.overlay {
  background-color: #2690b1a2;
}

#overlay {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000066;
}

.wallpaper-container {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2em 1.5em;
  background-color: #fff;
  text-align: center;
  z-index: 1;
}

.wallpaper-container > p {
  margin-top: 0;
  font-weight: 600;
  text-align: left;
  font-size: 1.1em;
}

#defaultButton {
  color: #fff;
  background-color: #186d60bc;
  padding: 0.5em 1em 0.5em 0.5em;
  font-size: 1em;
  margin: 0.5em;
  border-radius: 0.5em;
}

#defaultButton > i {
  font-size: 1.2em;
  vertical-align: bottom;
}

#galleryButton {
  color: #fff;
  background-color:#a76046ef;
  padding: 0.6em;
  font-size: 1em;
  margin: 0.5em;
  border-radius: 0.5em;
}

#addPhoto {
  display: none;
}

.delete-modal {
  display: none;
  position: absolute;
  top: 40%;
  left: 10%;
  background-color: #fff;
  width: 70%;
  z-index: 1;
  padding: 0.5em 1.5em 1.5em 1.5em;
}

.delete-modal > button {
  color: #186d60fa;
  font-weight: 550;
  padding: 0.5em 1em;
  outline: none;
}

#moreOptions {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 12em;
  z-index: 1;
  padding: 0.5em 0;
  background-color: #fff;
}

#moreOptions > button {
  display: block;
  padding: 1em;
  width: 100%;
  font-weight: 600;
  text-align: left;
}

#chats {
  border-bottom: 0.5px solid #95959555;
  text-align: left;
  line-height: 1.5em;
  padding: 1em 0;
}

#chats p {
  margin: 0;
}

#chats > strong {
  font-size: 1.2em;
}

@media only screen and (max-width: 375px) {
  .add-button {
    right: 0.7em;
  }

  .face-button {
    right: 16.7em;
  }

  .send-button {
    right: 3em;
  }
}

@media only screen and (max-width: 340px)   {
  .add-button {
    right: 0.4em;
  }

  .face-button {
    right: 13.8em;
  }

  .send-button {
    right: 2em;
  }

  .text {
    max-width: 15em;
  }

  .message-value {
    max-width: 15em;
  }
}
