.settings-page,
.chat-settings-page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.settings-nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.8em 1em;
  background-color: #075E54;
  color: #fff;
  z-index: 1;
  font-size: 1.2em;
}

.settings-nav > strong {
  vertical-align: super;
  margin-left: 1.5em;
}

.return-button > i {
  color: #fff;
}

.settings-options,
.chat-settings-options {
  position: relative;
  top: 3.5em;
  width: 100%;
  padding-bottom: 2em;
}

.user-profile {
  display: flex;
  padding: 0.5em 1em;
  border-bottom: 0.5px solid #95959555;
}

.user-profile > div {
  line-height: 1.5em;
  padding: 1em 0;
}

.user-profile p {
  margin: 0;
  font-size: 0.8em;
}

.settings-option {
  display: flex;
}

.settings-option > div {
  line-height: 1.5em;
  padding: 1em 0;
}

.settings-option p {
  margin: 0;
  font-size: 0.8em;
}

.settings-option > button {
  font-size: 1.5em;
  padding: 0 1em;
}

.back-button {
  color: #fff;
}

.chat-settings-options p {
  font-size: 0.9em;
  margin: 1em 0 1em 1.5em;
  color: #075E54;
  font-weight: 600;3
}

.chat-settings-options > div {
  border-bottom: 0.5px solid #95959555;
}

.display-setting > button {
  display: flex;
  text-align: left;
  padding: 1em 0;
  width: 100%;
  padding-left: 2em;
}

.theme-button div {
  padding-left: 1em;
}

.wallpaper-button > div {
  padding: 0.5em 0 0 1em;
}

.chat-settings-options small {
  display: block;
  padding-top: 0.3em;
}

.option-buttons > button {
  display: grid;
  grid-template-columns: 1.2fr 0.2fr;
  width: 100%;
  padding: 1em 0 1em 7em;
  text-align: left;
}

.theme-container {
  display: none;
  position: absolute;
  top: 20%;
  left: 15%;
  padding: 0 2em 1em;
  width: 60%;
  z-index: 2;
  background-color: #fff;
}

.theme-container > div {
  display: flex;
}

.input-options {
  display: block;
  position: relative;
  padding-left: 2em;
  margin: 0.8em 0 0.5em 0;
}

.input-options input {
  opacity: 0;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.2em;
  width: 1.2em;
  border: 1.8px solid #080505;
}

.radio > .checkmark {
  border-radius: 50%;
}

.radio input:checked ~ .checkmark {
  border: 2px solid #075E54;
}

.input-options input:checked ~ .checkmark:after {
  display: block;
}

.radio .checkmark:after {
  top: 0.2em;
  left: 0.2em;
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  background: #075E54;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox .checkmark:after {
  left: 0.3em;
  bottom: 0.2em;
  width: 0.4em;
  height: 0.8em;
  border: solid white;
  border-width: 0 0.2em 0.2em 0;
  transform: rotate(45deg);
}

.close-theme-button {
  color: #075E54;
  width: 80%;
  text-align: right;
  font-weight: 600;
}

.confirm-theme-button {
  color: #075E54;
  font-weight: 600;
}
