.default-page {
  position: relative;
  top: 6em;
}

.chat-item {
  display: flex;
  width: 100%;
}

.image {
  height: 4em;
  width: 4em;
  border-radius: 50%;
  object-fit: cover;
  background-color: #000000d7;
  margin: 0.4em 1em 0 0;
}

.chats {
  border-bottom: 0.5px solid #95959555;
  text-align: left;
  width: 100%;
  line-height: 1.5em;
  padding: 1em 0;
}

.chats p {
  margin: 0;
}

.chats > strong {
  font-size: 1.2em;
}

.icon {
  position: fixed;
  bottom: 2em;
  right: 2em;
  color: #fff;
  width: 4em;
  height: 4em;
  border-radius: 2em;
  background-color: #01E675;
  box-shadow: 0 0.4em 0.4em 0em #0000009b;
}

.contact > i {
  vertical-align: middle;
}
