.main {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif, Helvetica;
}

.top-nav-content {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  background-color: #186d60fa;
  color: #fff;
  z-index: 1;
}

#topNavOverlay {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000066;
}

.top-header {
  padding: 1em;
}

.top-header > span {
  font-size: 1.3em;
  font-weight: 550;
}

.top-header > div {
  float: right;
}

.search-button {
  color: #fff;
  font-size: 1.2em;
  vertical-align: super;
}

.top-nav-dropdown {
  color: #fff;
}

button {
  border: unset;
  background-color: unset;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.top-nav-content > nav {
  display: inline-grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr;
  width: 100%;
  height: 3em;
}

.top-nav-content > nav > button {
  color: #e9e7e7c9;
  margin: 0 0.2em;
  font-weight: 550;
  outline: none;
}

button:active {
  transform: translateY(0.1em);
}

.active {
  color: #ffffff;
  border-bottom: 0.25em solid #fff;
}

#topNavDropdown {
  display: none;
}

.dropdown-modal {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  height: auto;
  width: fit-content;
  z-index: 1;
  padding: 0.5em 3em 0.5em 1em;
}

.dropdown-modal > button {
  display: block;
  padding: 1em 0;
  width: 100%;
  text-align: left;
  margin: 0.2em 0;
}
